*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #313131;
}

body {
    background-color: #313131;
}

::-webkit-scrollbar{
    width: 0px;
}

.Container {
    width: 92%;
    height: 90vh;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    /* z-index: -1; */
    overflow: scroll;
}

.Page {
    width: 100%;
    height: max-content;
    font-size: 30px;
}

nav{
    overflow: visible;
    z-index: 10;
    max-height: 60px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    line-height: 60px;
    padding: 2px 32px;
    box-shadow: 0px 0px 4px 0px;
    background-color: aliceblue;
    /* background-color: greenyellow; */

}

nav span{
    margin-right: 11%;
    font-size: 20px;
    font-weight: 500;
}

nav>ul {
    align-items: center;
    text-align: center;
    display: flex;
}

nav>ul li {
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    margin-left: 4rem;
    /* background-color: rgba(255, 0, 0, 0.253); */
}

.navbar>ul li a {
    text-decoration: none;
}

.navbar>ul li {
    line-height: 60px;;
    font-size: 20px;
}

.navbar>ul li i {
    position: relative;
    top: 10px;
    font-size: 40px;
}

.drop{
    cursor: pointer;
}

.menu {
    border: 2px solid;
    list-style: none;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    display: none;
    opacity: 0;
    background-color: #313131;
    z-index: 1;
    transition: 0.5s;
}

.member-menu{
    position: absolute;
    margin: 3px 0px;
    left: 24%;
}

.user-menu{
    position: absolute;
    margin: 13px 0px;
    right: -78%;
}

.menu-open{
    display: block;
    opacity: 1;
}

.menu li{
    color: aliceblue;
    margin: 0.4em 0.4em;
    border-radius: 0.5em;
    cursor: pointer;
}

.hidden {
    display: none;
}

.record-view {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
}

.record-content {
    position: relative;
    overflow: hidden;
    /* display: grid; */
    text-align: center;
    gap: 2rem;
    grid-template-columns: repeat(1,1fr);
    width: 92%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px #313131;
}

.pdf {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
}

.modal-content {
    position: relative;
    overflow: hidden;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    width: 85%;
    height: 75%;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px #313131;
}

#issue-text{
    resize:vertical;
}

.image {
    padding: 0px 12px;
    /* border-right: 1px solid rgba(49, 49, 49,0.4); */
    /* box-shadow: 1px 0px 4px 0px rgba(49, 49, 49,0.4); */
    width: 100%;
    height: 100%;
}

.image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.info-form {
    display: grid;
    /* border: 2px solid red; */
    margin-bottom: 40px;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    /* text-align: center; */
}

.form {
    padding-right: 13px;
    display: grid;
    overflow: scroll;
    font-weight: 500;
    /* border: 2px solid; */
}

.form h2 {
    /* border: 2px solid green; */
    font-size: 30px;
    height: 50px;
    text-align: center;
}

#issue-text{
    width: 100%;
}

.Section-Appointment{
    /* margin-top: 10px; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 90vh;
}

.Section-Appointment div{
    padding-top: 30%;
    text-align: center;
    /* border: 2px solid red; */
}


.svg-Appointment{
    width: 90%;
    height: 90%;
    padding-left: 100px;
    object-fit:contain;
    vertical-align: bottom;
}


.Section-Appointment div h3{
    font-size: 50px;
}

.slides {
    display: flex;
    height: 41vh;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-left: 20px;
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }

  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 8px;
    border: 0.5px solid #313131;
    background-color: aliceblue;
    box-shadow: 10px 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  /* .slides>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

.Section-MedicalRecords{
    text-align: center;
    line-height: 100px;
}

.grid-Records{
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 20px;
    text-align: left;
    line-height: 60px;
}

.grid-Records span{
    margin-left: 20px;
}

.Show-more{
    z-index: 2;
    grid-column: span 2;
    text-align: center;
    text-decoration: none;
}

.Show-more a {
    text-decoration: none;
    font-weight: 500;
}

.margin-top-10{
    margin-top: 50px;
}